<!-- Main Content -->
<div class="container-fluid fs">
    <!-- Single Card -->
    <div class="card mb-2 mt-2">
        <div class="row g-0">
            <div id="cimg" class="col-sm-4 col-xs-12">
                <a href="/"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="35"
                        height="35"
                        fill="white"
                        class="bi bi-arrow-left-circle-fill rounded-pill shadow"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                        />
                    </svg>
                </a>
                <!-- Carousel -->
                <div
                    id="cars-intro"
                    class="carousel slide pointer-event"
                    data-ride="carousel"
                    style="height: inherit"
                >
                    <!-- prettier-ignore -->
                    <div class="carousel-indicators top-10">
                        <% if(doc.images.lenght) { %> 
                            <% doc.images.forEach((el, idx)=>{ %>
                                <button
                                   type="button"
                                    data-bs-target="#cars-intro"
                                    data-bs-slide-to="<%= idx %>"
                                    aria-label="Slide <%= idx %>"
                                ></button>
                            <% }) %>
                        <% } %>
                        <button
                            type="button"
                            data-bs-target="#cars-intro"
                            data-bs-slide-to="<%= doc.images.lenght %>"
                            aria-label="Slide <%= doc.images.lenght %>"
                            class="active"
                        ></button>
                    </div>
                    <div class="carousel-inner">
                        <% if(doc.images.lenght) { %> <% doc.images.forEach((el,
                        idx)=>{ %>
                        <div class="carousel-item carousel-item-start">
                            <img
                                src="el"
                                class="d-block w-100"
                                style="height: auto"
                            />
                        </div>
                        <% }) %> <% } %>
                        <div class="carousel-item active">
                            <img
                                src="http://source.unsplash.com/random/1080x1920?q=9796"
                                class="d-block w-100"
                                style="height: auto"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="card-body" id="cbody">
                    <!-- prettier-ignore -->
                    <h4 id="ctitle" class="card-title" contenteditable><%= doc.title %></h4>
                    <div class="d-flex align-items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="12"
                            height="12"
                            fill="#128532"
                            class="bi bi-geo-alt-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
                            />
                        </svg>
                        <span class="mx-1" id="locationN"
                            ><%= doc.location || "Loading" %></span
                        >
                    </div>
                    <div class="d-flex align-items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="12"
                            height="12"
                            fill="#49c3e0"
                            class="bi bi-cloud-drizzle-fill"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973z"
                            />
                        </svg>
                        <span class="mx-1" id="weatherN"
                            ><%= doc.weather || "Loading" %></span
                        >
                    </div>
                    <p id="created" class="text-muted">
                        Created on <%= new Date(doc.createdAt).toDateString() %>
                        at <%= new
                        Date(doc.createdAt).toLocaleTimeString("en-in") %>
                    </p>
                    <h5 class="card-mood">How do you feel?</h5>
                    <!-- prettier-ignore -->
                    <div class="mood-btn">
                        <button
                            type="button"
                            class="
                                btn btn-light
                                my-1
                                happy
                                rounded-pill
                                <% if(doc.mood=='happy'){%> active <% } %>
                            "
                        >
                            &#128522; Happy
                        </button>
                        <button
                            type="button"
                            class="btn btn-light my-1 sad rounded-pill <% if(doc.mood=='sad'){%> active <% } %>"
                        >
                            &#128532; Sad
                        </button>
                        <button
                            type="button"
                            class="btn btn-light my-1 angry rounded-pill <% if(doc.mood=='angry'){%> active <% } %>"
                        >
                            &#128545; Angry
                        </button>
                        <button
                            type="button"
                            class="btn btn-light my-1 stressed rounded-pill <% if(doc.mood=='stressed'){%> active <% } %>"
                        >
                            &#128553; Stressed
                        </button>
                        <button
                            type="button"
                            class="btn btn-light my-1 scared rounded-pill <% if(doc.mood=='scared'){%> active <% } %>"
                        >
                            &#128560; Scared
                        </button>
                    </div>
                    <br />
                    <div id="editable">
                        <% for(var i=0; i< doc.entries.length; i++) {%>
                        <small class="text-muted"
                            ><%= new
                            Date(doc.entries[i].time).toLocaleTimeString("en-in")
                            %></small
                        >
                        <p
                            class="card-text flex-1 py-2 mr-2 mb-0"
                            contenteditable
                            data-time="<%=doc.entries[i].time%>"
                        >
                            <%= doc.entries[i].data %>
                        </p>
                        <% } %>
                    </div>
                    <small id="text-time" class="text-muted"></small>
                    <!-- prettier-ignore -->
                    <p
                        id="text-body"
                        class="card-text flex-1 py-2 mr-2"
                        contenteditable
                    >What's on your mind? Type your thoughts here.</p>
                    <p class="card-saved">
                        <% if(doc.updatedAt !== doc.createdAt){ %>
                        <small id="update" class="text-muted"
                            >Last Update on <%= new
                            Date(doc.updatedAt).toDateString() %> at <%= new
                            Date(doc.updatedAt).toLocaleTimeString("en-in")
                            %></small
                        ><% } %>
                    </p>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="#49c3e0"
                        class="save bi bi-check-circle-fill rounded-pill shadow"
                        id="save"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/editor.js"></script>
