<!-- Bootstrap default Navbar  -->
<nav class="navbar navbar-main sticky-top navbar-light navbar-expand-lg">
    <!-- Navbar brand -->
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <img
                src="./assets/favicon.png"
                alt="Diary Icon"
                width="30"
                height="30"
                class="d-inline-block align-top"
            />
            <span class="h5">Diary</span>
        </a>

        <!-- Hamburger Button -->
        <div
            class="navbar-toggler"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </div>
        <!-- Navbar Shortcut Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 mt-2 mt-lg-0">
                <form class="form-inline mx-lg-2 d-flex align-items-center">
                    <div
                        class="input-group input-group-sm no-border-right mt-3 mt-lg-0"
                    >
                        <div class="input-group-text">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-search"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                                />
                            </svg>
                        </div>

                        <input
                            class="form-control"
                            type="text"
                            placeholder="Search"
                            aria-label="Search"
                        />
                    </div>
                </form>
                <div class="d-block ms-0 d-lg-flex ms-lg-auto">
                    <!-- Pill for LG viewport -->
                    <li
                        class="nav-item d-none d-lg-flex align-items-center mx-lg-2 badge rounded-pill bg-white text-dark shadow-sm"
                    >
                        <a href="#" class="nav-link active"> Anurag Verma </a>
                        <img
                            src="https://lh3.googleusercontent.com/a-/AOh14GjLl6-teruNiz6KsDh9p7Cx-a6z817FzdiUZY1cbiE=s96-c"
                            alt="Anurag Verma"
                            class="img-fluid avatar"
                            crossorigin="anonymous"
                        />
                    </li>
                    <!-- Inline item for other devices -->
                    <li
                        class="nav-item d-lg-none d-flex align-items-center mt-2"
                    >
                        <a href="#" class="nav-link active"> Anurag Verma </a>
                        <img
                            src="https://lh3.googleusercontent.com/a-/AOh14GjLl6-teruNiz6KsDh9p7Cx-a6z817FzdiUZY1cbiE=s96-c"
                            alt="Anurag Verma"
                            class="img-fluid avatar"
                            crossorigin="anonymous"
                        />
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="currentColor"
                                class="bi bi-power"
                                viewBox="0 0 16 16"
                            >
                                <path d="M7.5 1v7h1V1h-1z" />
                                <path
                                    d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"
                                />
                            </svg>
                            <span class="d-lg-none d-block mx-3 fw-bold"
                                >Logout</span
                            >
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
