body {
    font-family: "Montserrat", sans-serif;
    background: #f1f3f6;
}
@media only screen and (max-width: 992px) {
    .navbar.navbar-main {
        background-color: #f8f9fa;
    }
    .w-sm-100 {
        width: 100% !important;
    }
}
.avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.no-border-right .input-group-text {
    border-right: none;
    background-color: #fff;
}
.no-border-right .form-control {
    border-left: none;
}
.no-border-right .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}
.weather-img {
    width: 30px;
    height: 30px;
}
.pill {
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.pill-text {
    display: none;
    font-size: 0;
}
.pill:hover {
    border-radius: 25px;
    width: 6rem;
}
.pill:hover > .pill-text {
    display: block;
    font-size: inherit;
}
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 30px) !important;
}
.ml-auto > div {
    cursor: pointer;
    margin-left: auto;
}
.card-row {
    height: 75vh;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.card-width {
    height: -webkit-fill-available;
    display: inline-block;
}
.card-width > img {
    height: 100%;
    width: 100%;
}
.fs {
    height: 100vh !important;
}
.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}
.form-check-input:focus,
.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}
