body {
    font-family: "Montserrat", sans-serif;
    background: #f1f3f6;
}
@media only screen and (max-width: 992px) {
    .navbar.navbar-main {
        background-color: #f8f9fa;
    }
}
.avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.no-border-right .input-group-text {
    border-right: none;
    background-color: #fff;
}
.no-border-right .form-control {
    border-left: none;
}
.no-border-right .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}
.weather-img {
    width: 30px;
    height: 30px;
}
