body {
    font-family: "Montserrat", sans-serif;
    background: #f1f3f6;
}
@media only screen and (max-width: 992px) {
    .navbar.navbar-main {
        background-color: #f8f9fa;
    }
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

input {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 12px 10px;
    text-align: center;
    width: 250px;
  }
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212529; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

.avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.no-border-right .input-group-text {
    border-right: none;
    background-color: #fff;
}
.no-border-right .form-control {
    border-left: none;
}
.no-border-right .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #ced4da;
}
.weather-img {
    width: 30px;
    height: 30px;
}
.pill {
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.pill-text {
    display: none;
    font-size: 0;
}
.pill:hover {
    border-radius: 25px;
    width: 6rem;
}
.pill:hover > .pill-text {
    display: block;
    font-size: inherit;
}
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 30px) !important;
}
.ml-auto > div {
    cursor: pointer;
    margin-left: auto;
}
.card-row {
    height: 75vh;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}
.card-width {
    height: -webkit-fill-available;
    display: inline-block;
}
.card-width img {
    height: 100%;
    width: 100%;
}
