.card img {
    width: 100%;
    height: 100%;
}

#cimg {
    max-height: 96vh;
    height: auto;
    overflow: hidden;
}
div#cimg::after {
    content: "";
    background-image: linear-gradient(
        180deg,
        #00000078,
        transparent,
        transparent
    );
    position: absolute;
    top: 0;
    width: inherit;
    height: -webkit-fill-available;
}
#cimg svg {
    position: absolute;
    left: 1%;
    z-index: 99;
    top: 2%;
    fill: #000000;
    background-color: #ffffff;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

#cimg svg:hover {
    width: 45px;
    height: 45px;
    top: 1.75%;
    left: 0.75%;
}

.card-body {
    overflow-y: hidden;
}

.card-body svg {
    position: absolute;
    right: 2%;
    bottom: 3%;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.card-body svg:hover {
    width: 55px;
    height: 55px;
    right: 1.75%;
    bottom: 2.75%;
}

.top-10 {
    top: 3%;
    bottom: unset;
}
